/ Chart.js
%script{:src => "vendor/chartjs/Chart.min.js"}
/ Genetic.js
%script{:src => "vendor/geneticjs/genetic.js"}
:javascript
  // Hold logs
  var logs = #{@logs_json};
/ For graphing
%script{:src => "js/concentration.js"}
/ This section is for Splash Screen
%section#jSplash
  #circle
/ End of Splash Screen
/ Homepage Slider
#home-slider
  .overlay
  .slider-text
    #slidecaption
/ End Homepage Slider
/ Header
%header
/ Instruction
#shortcodes.page
  .container
    / Title Page
    .row#user
      .span12
        %h2 User
        %table.table.table-bordered{:cellspacing => "0", :width => "100%"}
          %thead
            %tr
              %th uid
              %th name
              %th sex
              %th weight
              %th tried
              %th created_at
              %th updated_at
          %tbody
            - @users.each do |u|
              %tr 
                %td #{u.id}
                %td #{u.name}
                %td #{u.sex}
                %td *** 
                /%td #{u.weight}
                %td #{u.tried}
                %td #{u.created_at}
                %td #{u.updated_at}
    .row
      .span12
        %hr
    .row#log
      .span12
        %h2 Log
        #log-graph
        #curve-fitting-graph
          %canvas#scratch{:style => "width: 800px; height: 500px; cursor: crosshair;"}
        #curve-stats
          %table.table.table-bordered{:cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                %td Solution
                %td 
                  %span#solution
              %tr
                %td Error
                %td
                  %span#bestfit
              %tr
                %td Avg Error per Vertex
                %td
                  %span#vertexerror
              %tr
                %td Generation
                %td
                  %span#generation
              %tr
                %td Average error
                %td
                  %span#avgbestfit
              %tr
                %td Error stdev
                %td
                  %span#errorstdev
        %table.table.table-bordered{:cellspacing => "0", :width => "100%"}
          %thead
            %tr
              %th uid
              %th alcohol (mg)
              %th trial
              %th minutes_elapsed
              %th concentration
              %th remark
              %th updated_at
          %tbody
            - @logs.each do |l|
              %tr 
                %td #{l.uid}
                %td #{l.alcohol.round(4)}
                %td #{l.trial}
                %td #{l.minutes_elapsed}
                %td #{l.concentration}
                %td #{l.remark}
                %td #{l.updated_at}
%script{:src => "js/curve_fitter.js"}
